
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/respond.min.js"></script>
    
       @*

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    @Styles.Render("~/Content/datepicker")
    @Scripts.Render("~/bundles/datePicker")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    *@
    <script type="text/javascript">
         $(document).ready(function () {
             $('.datepicker').datepicker({});
         });
     </script>
</head>

@{
    var user = @Session["fullName"];
    var userId = @Session["userID"];
    var userType= @Session["userType"];

 }

<body class="mainpage">
    <div class="navbar navbar-default navbar-static-top">

        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link " href=@Url.Action("Index","Home")><span class="glyphicon glyphicon-home"></span><bold>  Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tag tag-info" href="@Url.Action("Contact", "Home")"><bold><span class="glyphicon glyphicon-phone"></span>  Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("PricingPage", "Home")"><bold><span class="glyphicon glyphicon-usd"></span>  Pricing</a>
            </li>
            <li class="nav-item bold">
                <a class="nav-link" href="@Url.Action("SubmitNewProject", "Home")"><bold><span class="glyphicon glyphicon-upload"></span>  Submit New Project</a>
            </li>
            <li class="nav-item bold">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-upload"></span>
                    Add Samples
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    
                    <li><a href="@Url.Action("SampleDetailTemplate", "Home")">Download Template</a></li>

                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("About", "Home")"><bold><span class="glyphicon glyphicon-info-sign"></span>  About</a>
            </li>
           

           @if (userType == null || userType.ToString() == "user")
           {
            <li class="nav-item bold" style="margin-left:150px;">
                <a class="" href=""><bold><span></span></a>
            </li>
            <li class="nav-item bold" style="margin-left:150px;">
                <a class="" href=""><bold><span></span></a>
            </li>
           }
          
           @if (userType != null && userType.ToString() == "staff")
           {
            <li class="nav-item bold" style="margin-left:150px;">
                <a class="" href=""><bold><span></span></a>
            </li>
             <li class="nav-item workQueue">
                <a class="nav-link" href="@Url.Action("Summary", "Data")"><bold><span class="glyphicon glyphicon-tasks"></span>Work Queue</a>
            </li>

          
            <li class="nav-item manageMenu">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-briefcase"></span>
                     Manager's Menu
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("AddNewProject", "Manage")">Add New Project</a></li>
                    <li><a href="@Url.Action("TemporaryProjectQueue", "Manage")">Incoming Projects</a></li>
                    <li><a href="@Url.Action("AddSampleDetails", "Home")">Add Sample details</a></li>
                    <li><a href="@Url.Action("UploadFile", "Home")">Upload Sample File</a></li>
                    <li><a href="@Url.Action("ProjectQueue", "Manage")">Project Tracking</a></li>
                    <li><a href="@Url.Action("Tracker", "Tracker")">Data Tracking</a></li>
                    <li><a href="@Url.Action("GenerateReport", "Tracker")">Generate Report</a></li>
                    <li><a href="@Url.Action("ManageUsers", "Manage")">User Management</a></li>
                </ul>
            </li>
            }
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span>
                    @user
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">

                    <li><a href="@Url.Action("EditProfile", "Home",new {id= userId })">Edit Profile</a></li>
                    <li><a href="@Url.Action("ChangePassword", "Home",new {id= userId })">Change Password</a></li>
                    <li><a href="@Url.Action("Logout", "Home")">Logout</a></li>

                </ul>
            </li>

        </ul>
    </div>


    <div class="body-content container-fluid">
        @RenderBody()

     
        <nav class="navbar navbar-default navbar-fixed-bottom footerbar" role="navigation">

            <div class="container" style="padding-top:15px; max-height:50px;">
               Genomics Core Laboratory - ABC Hospital And Research Center.
            </div>
        </nav>

    </div>

 





    @RenderSection("scripts", required: false)
</body>
</html>





